# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.whl
pip-wheel-metadata/

# Virtual envs
.venv/
venv/
ENV/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Test/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data/artifacts
*.csv
*.parquet
*.pkl
*.joblib

# MLflow
mlruns/

# Editors
.vscode/
.idea/