# Python
__pycache__/
*.py[codz]
*$py.class
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.whl
pip-wheel-metadata/

# Packaging
.Python
build/
dist/
*.manifest
*.spec

# Environments
.env
.envrc
.venv/
venv/
ENV/
__pypackages__/

# Jupyter
.ipynb_checkpoints/

# Tests/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data/artifacts
*.csv
*.parquet
*.pkl
*.joblib

# MLflow
mlruns/

# Editors
.vscode/
.idea/

# Ruff
.ruff_cache/

# Misc
.pypirc
.cursorignore
.cursorindexingignore